<!-- layout.html -->
<!DOCTYPE html>
<html lang="en" class="flex flex-col min-h-screen">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- DaisyUI CSS -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- Your Tailwind CSS reference if you're not using the CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body data-theme="mainTheme" class="flex flex-col flex-grow antialiased text-gray-200 bg-base-100 ">
  <!-- Navbar -->


  <header class="fixed top-0 z-40 w-full">
    <div class="flex justify-center mt-4">
      <nav class="navbar w-8/12 bg-neutral text-neutral-content border-2 border-black rounded-full backdrop-blur bg-black/30">
        <div class="flex-1">
          <a href="/" class="btn btn-ghost normal-case text-xl font-extralight text-normal not-italic rounded-full">Sam Golpasand</a>
        </div> 
        <div class="flex-none space-x-2">
          <!-- Primary Nav -->
          <a href="/#about" class="btn btn-ghost">About</a>
          <a href="/#work" class="btn btn-ghost">Work</a>
          <a href="/#services" class="btn btn-ghost">Services</a>
          <a href="/blog" class="btn btn-ghost">Blog</a>
          <a href="/#contact" class="btn rounded-full">Hit me up</a>
        </div>
      </nav>
  </header>

  
  
  <!-- Main content -->
  <div class="flex-grow"> 
    {% block body %}
    {% endblock %}
  </div>
  <!-- Main content end -->

  <footer class="bg-darkBlue text-white">
    <div class="max-w-7xl mx-auto px-4 py-8">
        <!-- Top row for social icons or any other content -->
        <div class="flex justify-center space-x-4 mb-4">
          <a href="https://www.instagram.com/samgolpasand/" class="hover:text-gray-300">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/sam-golpasand-417413209/" class="hover:text-gray-300">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://twitter.com/samgolpasand" class="hover:text-gray-300">
            <i class="fab fa-twitter"></i>
          </a>
      </div>
        
        <!-- Middle row for navigation links -->
        <div class="flex justify-center space-x-6 mb-6">
            <a href="/#about" class="hover:text-gray-300">About</a>
            <a href="/#work" class="hover:text-gray-300">Work</a>
            <a href="#" class="hover:text-gray-300">Services</a>
            <a href="/#contact" class="hover:text-gray-300">Contact</a>
            <a href="/blog" class="hover:text-gray-300">Blog</a>
        </div>

        <!-- Bottom row for copyright and imprint -->
        <div class="text-center">
            <p>© 2023 Sam Golpasand</p>
            <a href="/#contact" class="hover:text-gray-300 text-sm">CONTACT ME</a>
        </div>
    </div>
</footer>



  <script src="{{ url_for('static', filename='src/js.js') }}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>

    AOS.init();
  </script>
</body>
</html>
